/* z-index stack
10	fader
*/

*	{margin:0; padding:0}

body	{font:normal 11px arial; background:url(../img/decor/bg.gif)}

.hide	{display:none}

.button, .button div	{background:url(../img/decor/button-blue.png) no-repeat}
.button.alt, .button.alt div	{background-image:url(../img/decor/button-red.png)}
.button.sub, .button.sub div	{background-image:url(../img/decor/button-grey.png)}
.button	{background-position:100% 100%; padding:0 10px 0 0; display:inline-block; cursor:pointer; color:#fffefe; text-shadow:-1px 0 1px #000; font-size:14px; font-weight:bold}
.button div	{background-position:0 0; padding:0 0 0 10px; line-height:26px; text-align:center}

.user	{position:fixed; width:348px; height:660px; left:0; top:50%; margin:-330px 0 0; background:url(../img/decor/user-handler.png)}
.user > .toggle	{width:34px; height:216px; position:absolute; left:310px; top:155px; cursor:pointer; background:url(../img/icons/arrow-0.png) center no-repeat}

.user .body	{padding:18px 52px 0 18px}
.user .name	{font-size:14px; margin:0 0 10px}
.user .photo	{border:1px solid #d7d7d7; border-radius:1px; padding:2px; float:left; margin:0 10px 10px 0}
.user .photo img	{float:left; width:111px}
.user .birth	{color:#7f7f7f; margin:0 0 40px}
.user .status	{font-size:12px; margin:0 0 20px}
.user .edit	{background:url(../img/icons/pen.png) left no-repeat; padding:0 0 0 20px; margin:0 0 0 126px; cursor:pointer}
.user .edit span	{color:#2a86dc; text-decoration:underline}
.user .relations	{clear:both}
.user .relations td	{padding:0 10px 20px 0; vertical-align:top}
.user .relations span	{font-weight:bold; color:#2a86dc}

.user .settings	{position:absolute; right:38px; top:1px; border:1px solid #f2f2f2; padding:16px 18px 10px; background:#fff; box-shadow:0 0 10px #aaa}
.user .settings > .toggle	{width:32px; height:16px; background:url(../img/icons/settings.png); cursor:pointer; float:right}
.user .settings .title	{font-size:12px; border-bottom:1px solid #e5e5e5; padding:0 0 10px}
.user .settings ul	{list-style:none; color:#2a86dc; line-height:22px; padding:10px 0 0}
.user .settings ul li	{cursor:pointer; padding:0 20px 0 0}
.user .settings ul :hover	{text-decoration:underline}

.user .settings.closed	{box-shadow:none; border-color:transparent}
.user .settings.closed .title,
.user .settings.closed ul	{display:none}

.user.closed	{left:-310px}
.user.closed > .toggle	{background-image:url(../img/icons/arrow-180.png)}

#viewpoint	{width:99999px; height:99999px}
#viewpoint.drag	{cursor:move}

.family	{float:left; padding:60px 0 0}
.family canvas	{position:absolute; z-index:-1}
#viewpoint > .family	{padding:60px 0; position:absolute; left:1000px; top:1000px; width:100%}

.person	{display:inline-block; border:2px solid #9cd3ed; margin:0 30px; padding:8px 12px 0; width:130px; box-shadow:0 0 10px #ccc; background:#ecf9ff; /*position:absolute; left:50%; top:50%*/}
.person .relation	{color:#666; margin:0 32px 10px 0}
.person .tools	{width:40px; float:right}
.person .tools div	{width:16px; height:16px; float:left; padding:0 2px; cursor:pointer; background-position:center; background-repeat:no-repeat}
.person .tools .info	{background-image:url(../img/icons/info.png)}
.person .tools .print	{background-image:url(../img/icons/print.png)}
.person .photo	{margin:0 0 10px; overflow:hidden}
.person .photo img	{height:120px; display:block; margin:0 auto}
.person .name	{margin:0 0 8px}
.person .name, .person .relation	{font-weight:bold}
.person .name, .person .actions	{color:#2a86dc}
.person .actions ul	{list-style:none; border-width:1px 0; border-style:solid; border-color:#c9d4d9; background:#fff; margin:0 -12px; line-height:16px; padding:5px 0}
.person .actions li	{padding:0 12px; cursor:pointer}
.person .actions li:hover	{text-decoration:underline}
.person .actions .toggle	{height:16px; background:url(../img/icons/arrow-90.png) center no-repeat; cursor:pointer}

.person .closed ul	{display:none}
.person .closed .toggle	{background-image:url(../img/icons/arrow-270.png); border-top:1px solid #c9d4d9}

.person.alt	{border-color:#f9a6a6; background:#fff7f7}

.fader	{position:fixed; left:0; top:0; width:100%; height:100%; background:#000; opacity:.7; z-index:10; filter:alpha(opacity=70)}

.dialog	{position:absolute; z-index:20}

.dialog.actions	{width:500px; margin-left:-200px}
.dialog.actions canvas	{position:absolute; left:0; top:0; z-index:-1}
.dialog.actions .person	{box-shadow:none; position:absolute}
.dialog.actions .button	{width:165px; float:left}
.dialog.actions .parents, .dialog.actions .children	{width:400px; height:45px}
.dialog.actions .parents .alt, .dialog.actions .children .alt	{float:right}
.dialog.actions .siblings, .dialog.actions .siblings .inner	{overflow:hidden}
.dialog.actions .siblings .button	{float:right; clear:both; margin:8px 0 8px auto}
.dialog.actions .children .button	{margin:19px 0 0}