.dhx_cal_event_clear	{margin-top:-21px;}
	
	.button span.c input	{ padding:4px 0px 3px 0px;}
	.button1 span.c input	{ padding:5px 0px 3px 0px;}
	.button2 span.c input	{ padding:0px 0px 0px 0px;}

	.news .com spam span	{ line-height:18px;}
	.news_list_news li div span strong	{ }
	.news_list_news li div span font	{ }
