/*GLOBAL*/
html, body	{height:100%; margin:0; padding:0;} 
html		{background:#fdfbdd url(../images/bg.gif);}
body		{margin:0; padding:0; color:#000;}
* 			{margin:0; padding:0;}

#content				{min-height:100%; height:auto; margin:0 0 -266px 0; overflow:visible; text-align:left; position:relative;}
* html #content			{height:100%;}
html>body #minHeight	{float:left;width:0px;height:100%;}

#clearfooter	{ clear:both; /*position:relative;*/ height:266px;}
#clearfootermain	{ clear:both; /*position:relative;*/ height:auto; margin:0 auto;position:relative;}
#footer			{ margin:0 auto; clear:both; position:relative; height:266px;}

.width		{width:100%;}
.all		{float:left; width:100%;}
.clear 		{clear: both;}

/*TAGS*/
DIV, TD, INPUT, SELECT, TEXTAREA	{font: 12px "Arial", Helvetica, sans-serif; outline:none;}
IMG 	{border: 0px;}
LI, UL, OL, form, H1, H2	{margin:0; padding:0;}

h1		{ padding:0; margin:0 0 15px 0; font:bold 18px arial; text-transform:uppercase; color:#000;}
h2		{ padding:0; margin:0 0 15px 0; font: normal 18px arial; color:#000;}
h3		{ text-align:center; color:#000;padding-top:50px;}

p{ 	font: 12px "Arial", Helvetica, sans-serif; color:#000;
	text-align: left;
	line-height:130%;
	margin: 0px;
	padding: 0px 0px 10px 0px;}

img {border:0px}
	
a		{ text-decoration: underline; color:#2a86dc; outline:none;}
a:hover	{ text-decoration:none;}

input, textarea { outline:none;}
input[type=checkbox], input[type=radio] {  width: auto !important;  height: auto !important;}
input[type=radio] 						{  padding: 1px !important;  margin:0px 0px 0 0 !important;  border: 0px !important;}
input[type=checkbox]				 	{  padding: 0px 0px 0px 0px !important;  margin:0px 8px 0 0 !important;  border: 1px !important;}


.fix		{ width:990px; margin:0 auto; position:relative;}

.head		{ position:relative; height:58px; z-index:3; overflow:hidden; background:url(../images/bg2.jpg) repeat-x 50% 0;}
	.head .fix		{ width:942px; height:58px;}
	.head .logo	{ position: absolute; top:21px; left:0px;}
	.head .menu	{ position:absolute; list-style:none; top:0; right:0; height:58px; padding-left:2px; background:url(../images/bg4.png) no-repeat 0 0;}
	.head .menu li	{ float:left; background:url(../images/bg4.png) no-repeat 100% 0; height:58px; padding:0px 2px 0px 0px; margin:0px;}
	.head .menu li a	{ font:14px Trebuchet MS; color:#aa4944; text-decoration:none; text-transform:uppercase; height:58px; overflow:hidden; line-height:70px; display:inline-block; padding:0 34px; background:url(../images/bg3.png) repeat-x 50% -58px;}
	.head .menu li a:hover	{ color:#fff; background-position:50% 0;}
	.head .menu li.last a	{ color:#da9e9c;}
	.head .menu li.lang a span	{ display:inline-block; padding-right:10px; background:url(../images/n1.gif) no-repeat 100% 33px;}

.page404		{ background: url(../images/bg_404.jpg) no-repeat 50% 0;}
.page_404		{ width:547px; height:295px; position:relative; background:url(../images/w2.png) no-repeat 100% 100%; padding:132px 0 0 220px; margin-bottom:30px;}
.page_404 .w_c	{ padding:60px 105px 0 85px;}
.page_404 .w_c p	{ padding-bottom:20px;}
.page_404  h1	{ margin-bottom:30px;}

.plan_page		{ width:947px; height:119px; margin:0 auto; background:url(../images/bg6.jpg) repeat-y 0 0;}
	.plan_page_c	{ padding:20px 35px 10px 35px; background:url(../images/bg6b.jpg) no-repeat 0 100%;}
	.plan_page_c .buttons	{ border-bottom:0;}
	
	.block0	{ width:182px; overflow:hidden; margin-bottom:15px;}
	.block0 .b	{ width:182px; height:28px; overflow:hidden; background:url(../images/b1_b1.png) no-repeat 0 0;}
	.block0 .b1	{ width:182px; height:42px; overflow:hidden; background:url(../images/b1_b2.png) no-repeat 0 0; text-align:center;}
	.block0 .b1 a	{ display:inline-block; color:#7f7f7f; line-height:34px;}
	.block0 .bg	{ background:url(../images/b1_bg1.png) repeat-y 0 0;}
	.block0 .c	{ overflow:hidden; background:url(../images/b1_l.jpg) repeat-y 0 0; padding:25px 20px 10px 19px;}
	
	.block1	{ width:209px; overflow:hidden;}
	.block1 .b	{ width:209px; height:22px; overflow:hidden; background:url(../images/b1_b.png) no-repeat 0 0;}
	.block1 .bg	{ background:url(../images/b1_bg.png) repeat-y 0 0;}
	.block1 .c	{ overflow:hidden; background:url(../images/b1_l.jpg) repeat-y 0 0; padding:20px 20px 0 20px;}
	
	.block2	{ width:490px; overflow:hidden; margin-bottom:10px;}
	.block2 .b	{ width:490px; height:19px; overflow:hidden; background:url(../images/b2_b.jpg) no-repeat 0 0;}
	.block2 .c	{ background:#fff;}
	.block2 .bg_l	{ background:url(../images/b2_l.jpg) repeat-y 0 0;}
	.block2 .bg_r	{ overflow:hidden; background:url(../images/b2_r.jpg) repeat-y 100% 0; padding:20px 25px 10px 30px;}
	
	.block3	{ width:538px; overflow:hidden; margin-bottom:10px;}
	.block3 .b	{ width:538px; height:22px; overflow:hidden; background:url(../images/b3_b.jpg) no-repeat 0 0;}
	.block3 .c	{ background:#fff;}
	.block3 .bg_l	{ background:url(../images/b3_l.jpg) repeat-y 0 0;}
	.block3 .bg_r	{ overflow:hidden; background:url(../images/b3_r.jpg) repeat-y 100% 0; padding:20px 25px 10px 34px;}
	
	.block4	{ width:732px; overflow:hidden; margin-bottom:10px;}
	.block4 .b	{ width:732px; height:19px; overflow:hidden; background:url(../images/b4_b.jpg) no-repeat 0 0;}
	.block4 .c	{ background:#fff;}
	.block4 .bg_l	{ background:url(../images/b2_l.jpg) repeat-y 0 0;}
	.block4 .bg_r	{ overflow:hidden; background:url(../images/b2_r.jpg) repeat-y 100% 0; padding:20px 35px 10px 34px;min-height:700px;}
	.block4 .bg_rmessage{ overflow:hidden; background:url(../images/b2_r.jpg) repeat-y 100% 0; padding:20px 35px 10px 34px;}
	.center	{ margin:0 248px 0 252px;}
	.center_one	{ width:538px; margin-left:223px;}
	.center_all	{ width:732px; margin-left:239px;}
	
	.search					{ overflow:hidden; margin-bottom:40px;}
	.search input.srch		{ color:#999999; background:#fff; border:1px solid #e5e5e5; padding:4px 10px; width:280px; float:left; margin-right:20px;}
	.search .button2 span.c input	{ }
	
	.rez		{ position:relative; font-size:18px; color:#222222; margin-bottom:50px; margin-top:-10px;}
	.rez span	{ color:#6f322d;}
	
	.index_ul	{ list-style:none; overflow:hidden; margin-bottom:20px;}
	.index_ul li{ list-style:none; overflow:hidden; padding-left:29px; background:url(../images/li1.gif) no-repeat 0 6px; margin-bottom:15px;}
	
	.steps		{ list-style:none; overflow:hidden; padding-left:40px; margin-bottom:10px;}
	.steps li	{ list-style:none; overflow:hidden; float:left; padding-right:28px; background:url(../images/n2.gif) no-repeat 100px 40px; margin-right:18px;}
	.steps li div	{ padding-top:15px; text-align:center;}
	
	.left	{ margin: 0 0 0 -100%; float:left; width:252px;}
	.left_c	{ padding-left:25px;}
	.left_small	{ margin: 0 0 0 -100%; float:left; width:239px;}
	
	.pro	{ width:137px; overflow:hidden;}
	.pro div	{ text-align:center; margin-bottom:10px;}
	.pro div img{ padding:2px; border:1px solid #d7d7d7;}
	#brdr { width:138px; min-height:138px; }
	#brdr.preloader { background:url(../images/96.gif) no-repeat center center; }
	#brdr img{ padding:2px; border:1px solid #d7d7d7;background:#ffffff;}
	/*.brdr img{ padding:2px; border:1px solid #d7d7d7;}*/
	.pro ul			{ list-style:none; overflow:hidden;}
	.pro ul li		{ list-style:none; overflow:hidden; height:25px; padding-left:12px;}
	.pro ul li a	{ color:#000; text-decoration:none; display:inline-block; line-height:25px;}
	.pro ul li a span	{ font: bold 12px arial; }
	.pro ul li a:hover	{ text-decoration:underline;}
	.pro ul li.active	{ background:#e2d6d5;}
	.pro ul li.active a	{ text-decoration:none;}
	
	.rec	{ width:120px; overflow:hidden; padding-left:10px;}
	.rec div	{ margin-bottom:10px;}
	.rec div img{ padding:2px; border:1px solid #d7d7d7;}
	.rec p span	{ color:#7f7f7f; font-size:11px;}
	.rec p font	{ font-size:11px; display:inline-block; line-height:120%;}
	
	.first_time p	{ font-size:18px; padding-bottom:10px;}
	
	
	.right	{ margin: 0 0 0 -228px; float:left; width:209px;}
	
	
	.form_desc {overflow:hidden;font:11px arial;color:#7f7f7f;margin-top:-13px; margin-bottom:10px; }
	.form_desc_accaunt {overflow:hidden;font:11px arial;color:#7f7f7f; margin-bottom:10px; }
	
	.form_login		{ overflow:hidden;}
	.form_login h1	{ font:bold 18px arial; text-transform:uppercase; margin-bottom:15px; color:#000; }
	.form_login .input		{ clear:both; margin-bottom:15px;}
	.form_login .input label{ display:block; font-size:11px; margin-bottom:3px; width:162px;}
	.form_login .input input		{ padding:4px; border:1px solid #e5e5e5; background:#fff; width:152px;}
	.form_login .input label a		{ display:inline-block; float:right;}
	.form_login .check		{ clear:both; margin-bottom:25px;}
	.form_login .check label{ display:block; font-size:11px; width:162px; color:#7f7f7f; overflow:hidden;}
	.form_login .check input{ float:left;}
	.form_login .check span	{ display:inline-block;}
	.form_login .button1				{ margin-bottom:18px;}
	.form_login .button1 span.c input	{ padding:10px 56px 0px 56px;}
	.form_login .reg					{ display:inline-block; margin:0 0 10px 25px; font-size:11px;}
	
	.gifts			{ padding:30px 0 0 0; text-align:center; }
	.gifts	a		{ text-decoration: none; color:#2a86dc; outline:none;cursor:pointer;}
	.gifts a:hover img	{ text-decoration:none;border: 1px solid #D7D7D7;}

	
	.medal			{ margin-bottom:15px; overflow:hidden; border-bottom:1px solid #999999; padding-bottom:15px;}
	.medal div		{ overflow:hidden;}
	.medal img		{ border:1px solid #d7d7d7; padding:3px; float:left; margin-right:50px;}
	
	.friend_list	{ overflow:hidden; list-style:none;}
	.friend_list.h200	{ overflow: auto; list-style:none; height:195px; margin-bottom:20px;}
	.friend_list li	{ overflow:hidden; list-style:none; float:left; width:160px; margin-right:27px; height:71px;}
	.friend_list li img		{ border:1px solid #d7d7d7; padding:2px; float:left; margin-right:9px;}
	.friend_list li a		{ font-weight:bold; color:#000; text-decoration:none;}
	
	.friend_list_w	{ overflow:hidden; list-style:none; overflow: auto; list-style:none; height:332px; width:532px; margin-bottom:30px;}
	.friend_list_w li	{ overflow:hidden; list-style:none; float:left; width:151px; padding-left:20px; padding-top:10px; height:61px; cursor:pointer;}
	.friend_list_w li img		{ border:1px solid #d7d7d7; background:#fff; padding:2px; float:left; margin-right:9px;}
	.friend_list_w li a		{ font-weight:bold; color:#000; text-decoration:none;}
	.friend_list_w li.check	{ background:#d9f0fe;}
	.friend_list_w li.check img	{ border:1px solid #bbcdd8;}
	
	.line			{ height:1px; overflow:hidden; font-size:0; background:#999999;}
	
	.medal_list		{ overflow:hidden; list-style:none;}
	.medal_list li	{ overflow:hidden; list-style:none; margin-bottom:40px;}
	.medal_list li img		{ float:left; margin-right:20px;}
	.medal_list li a		{ font-weight:bold; text-decoration:none;}
	.medal_list li p		{ overflow:hidden; padding:5px 0 0 0;}

	.friends_list		{ overflow:hidden; list-style:none; width:467px;}
	.friends_list li		{ overflow:hidden; list-style:none; padding:20px 0; border-bottom:1px solid #d7d7d7;}
	.friends_list li .frend_img	{ display:block; width:135px; /*border:1px solid red;*/ float:left;}
	.friends_list li img	{ border:1px solid #d7d7d7; padding:2px; float:left; margin-right:20px;}
	.friends_list li div	{ overflow:hidden;}
	.friends_list li div h2	{ margin-bottom:12px;}
	.friends_list li div h2 a	{ text-decoration:none; color:#000;}
	.friends_list li div a	{ display:inline-block;}
	.friends_list li div a.add_msg	{ margin-bottom:27px;}
	.friends_list li div a.del		{ padding-top:7px; color:#7f7f7f;}
	.friends_list li div p		{ float:right; padding:4px 0 0 0;}
	.friends_list li div p a	{ padding:2px 9px 3px 13px; background:#dadada url(../images/li3.gif) no-repeat 4px 6px; text-decoration:none; font-size:11px; color:#000; margin-left:10px; line-height:100%;}

	.msg_list			{ overflow:hidden; list-style:none;}
	.msg_list li		{ overflow:hidden; list-style:none; padding:20px 0; border-top:1px solid #cccccc; cursor:pointer;}
	.msg_list li .check	{ width:23px; float:left;}
	.msg_list li .check input	{ margin-top:21px !important;}
	.msg_list li img	{ border:1px solid #d7d7d7; padding:2px; float:left; margin-right:9px;}
	.msg_list li .inf	{ overflow:hidden;}
	.msg_list li .inf .name	{ color:#000; font-weight:bold; text-decoration:none; display:inline-block; margin-bottom:4px; overflow:hidden;}
	.msg_list li .inf .date	{ color:#7f7f7f; font-size:11px;}
	.msg_list li .inf p		{ font-size:11px;}
	.msg_list li .inf .date a	{ color:#7f7f7f;}
	.msg_list li .inf .date a.del	{ float:right; display:none;}
	.msg_list li:hover .inf .date a	{ color:#2a86dc;}
	.msg_list li:hover .inf .date a.del	{ display:block; color:#7f7f7f;}
	
	.article_list		{ overflow:hidden; padding-top:20px; list-style:none;}
	.article_list li	{ overflow:hidden; padding-bottom:20px; list-style:none;}
	.article_list li img		{ margin-right:9px;border:1px solid #d7d7d7; padding:2px; float:left;}
	.article_list li div		{ background:#d9f0fe; overflow:hidden; padding:16px 12px; margin-bottom:15px;}
	.article_list li div big	{ font-weight: bold; font-size:12px; color:#2a86dc; margin-bottom:5px; display:block;}
	.article_list li div span	{ display:block; font-size:11px; color:#7f7f7f;}
	.article_list li div a.name	{ font-weight: bold; font-size:12px; color:#000; display:inline-block; text-decoration:none; float:right;}
	.article_list li div a.del,
	.article_list li div a.edit	{ font-size:11px; display:inline-block; float:right; margin-left:15px;}
	.article_list li p			{ clear:both;}
	
	.gift		{ overflow:hidden; padding-top:20px; list-style:none;}
	.gift li	{ overflow:hidden; padding-bottom:20px; list-style:none;}
	.gift li img		{ margin-right:9px;border:1px solid #d7d7d7; padding:2px; float:left;}
	.gift li .inf		{ background:#d9f0fe; overflow:hidden; padding:9px 10px; margin-bottom:15px;}
	.gift li .inf span	{ display:block; font-size:11px; color:#7f7f7f;}
	.gift li .inf a.name	{ font-weight: bold; font-size:12px; color:#000; display:inline-block; text-decoration:none; margin-bottom:5px;}
	.gift li .inf a.del,
	.gift li .inf a.edit	{ font-size:11px; display:inline-block; float:right; margin-left:15px;}
	.gift li .gif			{ clear:both; }
	.gift li .gif div		{ clear:both; text-align:center;}
	.gift li .gif img		{ float:none; padding:0; border:0;}
	
	.comments			{ overflow:hidden; list-style:none; margin-bottom:15px; border-bottom:1px solid #9e9e9e;}
	.comments li		{ overflow:hidden; list-style:none; cursor:pointer;}
	.comments li ul		{ margin-left:60px; border:0; margin-bottom:0;}
	.comments li .comment_text		{ padding:20px 0; border-top:1px solid #cccccc;}
	.comments li a.img	{float: left; width:130px; }
	.comments li img	{ border:1px solid #d7d7d7; padding:2px; float:left; margin-right:9px;}
	.comments li .inf	{ overflow:hidden;}
	.comments li .inf .name	{ color:#000; font-weight:bold; text-decoration:none; display:inline-block; margin-bottom:4px; overflow:hidden;}
	.comments li .inf .date	{ color:#7f7f7f; font-size:11px;clear: both;}
	.comments li .inf p		{ font-size:11px;}
	.comments li .inf .date a	{ color:#7f7f7f;}
	.comments li .inf .date a.del	{ float:right; display:none;}
	.comments li div:hover.comment_text .inf .date a	{ color:#2a86dc;}
	.comments li div:hover.comment_text .inf .date a.del	{ display:block; color:#7f7f7f;}

	.editor_block	{ /*border:1px solid #e5e5e5;*/ margin-top:20px; margin-bottom:20px;}
	.editor_block .press_desc	{ padding:30px 20px 20px 20px; margin:0;}
	.editor_block .buttons_editor	{ width:660px; overflow:hidden;}

	.vk		{ overflow:hidden; list-style:none; margin-bottom:20px; position:relative; z-index:1; margin-top:-16px; background:#fff;}
	.vk li	{ overflow:hidden; list-style:none; float:left; border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; border-top:0;}
	.vk li span{font: bold 12px arial;}
	.vk li a	{ display:inline-block; background:#d7d7d7; border:1px solid #fff; padding:0 45px; font:14px Trebuchet MS; color:#000; text-decoration:none; line-height:28px;}
	.vk li.active	{ border-bottom:0px; border-left:0;}
	.vk li.active a	{ border:1px solid #fff; border-top:1px solid #ccc; border-left:1px solid #ccc; background:#fff;}
	.vk li.active.last_b a	{ border-right:1px solid #ccc;}
	.vk li.active a font	{ color:#8a8a8a;}
	.vk li a:hover	{ background:#ccc;}
	.vk li.active a:hover	{ background:#fff;}
	.vk li#add_msg	{ overflow:hidden; list-style:none; float:left; border:0;}
	.vk li#add_msg a	{ border:0; background:#fff; padding:0 0 0 20px; font-size:11px; text-decoration:underline; color:#2a86dc;}
	.vk li#add_msg a:hover	{ text-decoration:none;}
	
	.pred		{ width:120px; padding-right:64px; float:right;}
	.pred strong	{ display:block;}
	.pred strong .p_m { font-size:11px;color:#000;}
	.pred img	{ padding:2px; border:1px solid #d7d7d7;}
	.pred p		{ font-size:11px; padding-bottom:8px;}
	.pred span	{ font-size:11px; color:#7f7f7f; display:inline-block; padding-bottom:8px;}
	
	.visitka_list			{ overflow:hidden; list-style:none; padding-top:20px;}
	.visitka_list li		{ width:120px; padding-right:60px; list-style:none; float:left; height:300px;}
	.visitka_list li strong	{ display:block;}
	.visitka_list li img	{ padding:2px; border:1px solid #d7d7d7;}
	.visitka_list li p		{ font-size:11px; padding-bottom:8px;}
	.visitka_list li span	{ font-size:11px; color:#7f7f7f; display:inline-block; padding-bottom:8px;}
	
	.message	{ width:510px; overflow:hidden; margin:0 auto;}
	.message .img img	{ border:1px solid #d7d7d7; padding:2px;}
	.message .inf	{ overflow:hidden; margin-bottom:20px;}
	.message .inf h1	{ margin-bottom:3px;}
	.message .inf span	{ margin-bottom:14px; font-size:11px; color:#7f7f7f; display:inline-block;}
	.message .r_link	{ float:right; font-size:11px; color:#d8d8d8;}
	.message .inf p	{ padding:0; font-size:11px;}
	.message .text	{ clear:both; overflow:hidden; margin-bottom:20px;}
	.message .text textarea	{ border:1px solid #e5e5e5; background:#fff; padding:4px; height:110px; width:500px; margin-bottom:20px;}
	
	.comment_list		{ overflow:hidden; list-style:none; margin-bottom:20px;}
	.comment_list li	{ overflow:hidden; list-style:none; padding:20px 0; border-top:1px solid #9e9e9e;}
	.comment_list li img	{ border:1px solid #d7d7d7; padding:2px; float:left; margin-right:9px;}
	.comment_list li .del	{ display:inline-block; float:right; font-size:11px;}
	.comment_list li .name	{ display:inline-block; text-decoration:none; font-weight:bold; color:#000; margin-right:10px;}
	.comment_list li .link	{ display:inline-block;  margin-right:10px;padding:10px 0 0 0;}
	.comment_list li span	{ display:inline-block; font-size:11px; color:#7f7f7f;}
	.comment_list li p		{ padding:10px 0 0 0; font-size:11px;}
	
	
	.message_list		{ overflow:hidden; list-style:none; margin-bottom:20px;}
	.message_list li	{ overflow:hidden; list-style:none; padding:20px 0; border-bottom:1px solid #d2d2d2;}
	.message_list li img	{ border:1px solid #d7d7d7; padding:2px; float:left; margin-right:9px;}
	.message_list li .del	{ display:inline-block; float:right; font-size:11px;}
	.message_list li .name	{ display:inline-block; text-decoration:none; font-weight:bold; color:#000; margin-right:10px;}
	.message_list li .active.link	{ display:inline-block;  margin-right:10px;padding:10px 0 0 0; font-weight:bold;}
	.message_list li .link	{ display:inline-block;  margin-right:10px;padding:10px 0 0 0; }
	.message_list li span	{ display:inline-block; font-size:11px; color:#7f7f7f;}
	.message_list li p		{ padding:10px 0 0 0; font-size:11px;}
	
	.buttons_edit_blog	{ position:relative; padding-bottom:10px; overflow:hidden; margin-top:5px; margin-bottom:25px;}
	.buttons_edit_blog .button2	{ float:left; margin-right:10px;}
	.r_link	{ float:right; position:relative; z-index:2;}
	.r_link a	{ display:inline-block; margin-left:10px; width:26px; height:26px; overflow:hidden; text-decoration:none;}
	.r_link a.ico1	{ background:url(../images/ico1.png) no-repeat 0 0;}
	.r_link a.ico2	{ background:url(../images/ico2.png) no-repeat 0 0;}
	.r_link a.ico4	{ background:url(../images/ico4.png) no-repeat 0 0;}
	a.ico3	{ background:url(../images/ico3.jpg) no-repeat 0 0;display:inline-block; height:15px; font-size:11px; line-height:15px; padding-left:23px; overflow:hidden; text-decoration:none; float:right; margin-top:10px;}
	.buttons_edit_blog .show			{ overflow:hidden; font-size:11px;}
	.buttons_edit_blog .show span		{ display:inline-block; padding-top:5px; padding-right:20px;}
	.buttons_edit_blog .show a		{ display:inline-block; padding-top:5px; margin-right:20px; color:#2a86dc; text-decoration:none; border-bottom:1px dashed #2a86dc; line-height:110%;}
	.buttons_edit_blog .show a.active		{ background:#ececec; padding:5px 10px 5px 10px; border-bottom:0;}
	.buttons_edit_blog.b_msg 			{ padding-bottom:10px; border-bottom:0; overflow:hidden; margin-top:-10px;}
	.buttons_edit_blog.b_msg .button2	{ float:right; margin-left:20px; margin-right:0;}
	.buttons_edit_blog.b_msg .button3	{ float:right; margin-left:20px; margin-right:0;}
	.buttons_edit_blog .srch_inp		{ float:left; padding:4px; border:1px solid #e5e5e5; background:#fff; width:515px; margin-right:20px; color:#7f7f7f;}
	.buttons_edit_blog select			{ padding:4px; border:1px solid #e5e5e5; float:left; background:#fff; width:163px; margin-right:10px;}
	
	
	
	.buttons	{ position:relative; padding-bottom:10px; border-bottom:1px solid #9e9e9e; overflow:hidden; margin-top:-5px; margin-bottom:25px;}
	.buttons .button2	{ float:left; margin-right:10px;}
	.r_link	{ float:right; position:relative; z-index:2;}
	.r_link a	{ display:inline-block; margin-left:10px; width:26px; height:26px; overflow:hidden; text-decoration:none;}
	.r_link a.ico1	{ background:url(../images/ico1.png) no-repeat 0 0;}
	.r_link a.ico2	{ background:url(../images/ico2.png) no-repeat 0 0;}
	.r_link a.ico4	{ background:url(../images/ico4.png) no-repeat 0 0;}
	a.ico3	{ background:url(../images/ico3.jpg) no-repeat 0 0;display:inline-block; height:15px; font-size:11px; line-height:15px; padding-left:23px; overflow:hidden; text-decoration:none; float:right; margin-top:10px;}
	.buttons .show			{ overflow:hidden; font-size:11px;}
	.buttons .show span		{ display:inline-block; padding-top:5px; padding-right:20px;}
	.buttons .show a		{ display:inline-block; padding-top:5px; margin-right:20px; color:#2a86dc; text-decoration:none; border-bottom:1px dashed #2a86dc; line-height:110%;}
	.buttons .show a.active		{ background:#ececec; padding:5px 10px 5px 10px; border-bottom:0;}
	.buttons.b_msg 			{ padding-bottom:10px; border-bottom:0; overflow:hidden; margin-top:-10px;}
	.buttons.b_msg .button2	{ float:right; margin-left:20px; margin-right:0;}
	.buttons.b_msg .button3	{ float:right; margin-left:20px; margin-right:0;}
	.buttons .srch_inp		{ float:left; padding:4px; border:1px solid #e5e5e5; background:#fff; width:515px; margin-right:20px; color:#7f7f7f;}
	.buttons select			{ padding:4px; border:1px solid #e5e5e5; float:left; background:#fff; width:163px; margin-right:10px;}
	
	.calendar	{ overflow:hidden; margin-bottom:20px;}
	.calendar .year	{ height:26px; text-align:right; padding:0 10px; font-size:11px;}
	.calendar .year a.prev,
	.calendar .year a.next	{ width:5px; display:inline-block; line-height:26px; text-decoration:none;}
	.calendar .year a.prev	{ background:url(../images/prev.gif) no-repeat 0 50%;}
	.calendar .year a.next	{ background:url(../images/next.gif) no-repeat 0 50%;}
	.calendar .year span	{ display:inline-block; margin:0 20px; line-height:26px;}
	.calendar .week			{ height:28px; display:inline-block; margin-bottom:1px;}
	.calendar .week span	{ text-align:center; display:inline-block; width:94px; line-height:28px; background:#d7d7d7;}
	.calendar .days			{ overflow:hidden; border-right:1px solid #9e9e9e; border-bottom:1px solid #9e9e9e; float:left;}
	.calendar .days div.day		{ float:left; border-left:1px solid #9e9e9e; border-top:1px solid #9e9e9e; width:93px; height:93px; overflow:hidden;}	
	.calendar .days div.day span	{ display:inline-block; padding:4px; font-size:11px;}	
	.calendar .days div.hol		{ background:#efd5d4;}	
	.calendar .days div.day .imgs	{ text-align:center; padding-top:5px;}	
	.calendar .days div.day img		{ border:1px solid #d7d7d7; padding:2px;}	
	
	.meropriatie_item	{ padding-top:20px; padding-bottom:10px; border-bottom:1px solid #9e9e9e; margin-bottom:20px;}
	.meropriatie_item .img		{ float:left; margin-right:9px;}
	.meropriatie_item .img img	{ border:1px solid #d7d7d7; padding:2px;}
	.meropriatie_item .name		{ float:left; width:110px;}
	.meropriatie_item .name a	{ display:inline-block; text-decoration:none; font-weight:bold; color:#000; margin-right:10px;}
	.meropriatie_item .name span	{ display:block; font-size:11px; color:#7f7f7f; margin-bottom:5px; padding-top:5px;}
	.meropriatie_item .inf 		{ overflow:hidden;min-height:80px;}
	
	.group_list			{ float: right; overflow:hidden; width:155px; padding-top:20px;}
	.group_list ul		{ overflow:hidden; list-style:none;}
	.group_list ul li	{ overflow:hidden; list-style:none; margin-bottom:5px;}
	.group_list ul li a	{ display:block; padding:0 0 0 10px; line-height:25px;}
	.group_list ul li a:hover	{ background:#ececec;}
	
	.spep	{ overflow:hidden; list-style:none;}
	.step li.st	{ overflow:hidden; list-style:none; padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #ccc;  position:relative; padding-left:30px;}
	.step li.st .num		{ position:absolute; font-size:30px; top:0; left:0;}
	.step li.st h2			{ padding-top:10px;}
	.step .radio		{ overflow:hidden;}
	.step .radio label	{ display:block; margin-bottom:12px;}
	.step .radio label input	{ float:left; margin-right:9px !important;}
	
	.plans		 		{ overflow:hidden; width: 475px; float:right;}
	.plans .plan_big 	{ width: 357px; margin:0; overflow:hidden; float:left; height:300px;}
	.plans .plan_big .plan_c{ display:none;}
	.plans .plan_big img 	{ padding:2px; border:1px solid #d7d7d7; margin-bottom:15px;}
	.plans .plan_big p	 	{ padding:0; font-size:11px;}
	.plans .plan_sm		 	{ text-align:right; float:left; width:118px;}
	.plans .plan_sm a	 	{ display: inline-block; position:relative; text-decoration:none; margin-bottom:18px;}
	.plans .plan_sm a img 	{ padding:2px; border:1px solid #ccc;}
	.plans .plan_sm a span	{ position:absolute; display:block; width:13px; height:22px; background: url(../images/tug.jpg) no-repeat 0 0; left:-12px; top:22px; display:none; z-index:10;}
	.plans .plan_sm a.active span	{ display:block;}

	.press_desc		{ overflow:hidden; /*padding-top:20px;*/ margin-bottom:10px;}
	.press_desc img	{ padding:2px; border:1px solid #d7d7d7; float:left; margin-right:20px; margin-bottom:10px;}
	.autor 	{ overflow:hidden; padding-bottom:10px; border-bottom:1px solid #9e9e9e; margin-bottom:15px;}
	.autor img		{ padding:2px; border:1px solid #d7d7d7; float:left; margin-right:9px;}
	.autor a 		{ text-decoration:none; color:#000; font-weight:bold;}
	.autor span		{ display:block; padding:4px; color:#7f7f7f;}
	
button {text-align: center;cursor: pointer;border: none; margin:0; background: none repeat scroll 0 0 transparent; border: medium none; overflow: visible; padding:0;}
button::-moz-focus-inner {	padding:0;	border:0;}
button:active {	padding:0 0 0 0; margin:0; border:0;}

	.button1	{ overflow:hidden; height:39px; display:inline-block; cursor:pointer;}
	.button1 span	{display:inline-block; overflow:hidden; float:left;}
	.button1 span.l,
	.button1 span.r	{ width:2px; height:39px; overflow:hidden;}
	.button1 span.l	{ background:url(../images/b2l.png) no-repeat 0 0;}
	.button1 span.r	{ background:url(../images/b2r.png) no-repeat 0 0;}
	.button1 span.c	{ height:39px; background:url(../images/b2bg.png) repeat-x 0 0; padding:0 0px; overflow:hidden;}
	.button1 span.c input	{ padding:10px 10px 0px 10px; width: auto; font: bold 14px Trebuchet MS; color:#fff; text-shadow:-1px -1px #8f3f32; background: none; border:0; cursor:pointer;}
	a:hover.button1 span,
	span:hover.button1 span		{ background-position:0 -0px;}
	a:active.button1 span,
	span:active.button1 span	{ background-position:0 -0px;}
	span:active.button1 span.c input,
	span:hover.button1 span.c input		{ color:#fff;}
	
	.button2	{ overflow:hidden; height:26px; display:inline-block; cursor:pointer;}
	.button2 span	{display:inline-block; overflow:hidden; float:left;}
	.button2 span.l,
	.button2 span.r	{ width:2px; height:26px; overflow:hidden;}
	.button2 span.l	{ background:url(../images/b1l.png) no-repeat 0 0;}
	.button2 span.r	{ background:url(../images/b1r.png) no-repeat 0 0;}
	.button2 span.c	{ height:26px; background:url(../images/b1bg.png) repeat-x 0 0; padding:0 0px; overflow:hidden;}
	.button2 span.c input	{ padding:2px 10px 0px 10px; width: auto; font: bold 14px Trebuchet MS; color:#fff; text-shadow:-1px -1px #206cd9; background: none; border:0; cursor:pointer;}
	.button2 span.c a  { display:block; text-decoration:none; padding:2px 10px 0px 10px; width: auto; font: bold 14px Trebuchet MS; color:#fff; text-shadow:-1px -1px #206cd9; background: none; border:0; cursor:pointer;}
	a:hover.button2 span,
	span:hover.button2 span		{ background-position:0 -0px;}
	a:active.button2 span,
	span:active.button2 span	{ background-position:0 -0px;}
	span:active.button2 span.c input,
	span:hover.button2 span.c input		{ color:#fff;}
	
	.button3	{ overflow:hidden; height:26px; display:inline-block; cursor:pointer;}
	.button3 span	{display:inline-block; overflow:hidden; float:left;}
	.button3 span.l,
	.button3 span.r	{ width:2px; height:26px; overflow:hidden;}
	.button3 span.l	{ background:url(../images/b3l.png) no-repeat 0 0;}
	.button3 span.r	{ background:url(../images/b3r.png) no-repeat 0 0;}
	.button3 span.c	{ height:26px; background:url(../images/b3bg.png) repeat-x 0 0; padding:0 0px; overflow:hidden;}
	.button3 span.c input	{ padding:2px 10px 0px 10px; width: auto; font: bold 14px Trebuchet MS; color:#fff; text-shadow:-1px -1px #676869; background: none; border:0; cursor:pointer;}
	a:hover.button3 span,
	span:hover.button3 span		{ background-position:0 -0px;}
	a:active.button3 span,
	span:active.button3 span	{ background-position:0 -0px;}
	span:active.button3 span.c input,
	span:hover.button3 span.c input		{ color:#fff;}
	
	.sn			{ overflow:hidden; margin-bottom:20px; padding-left:10px;}
	.sn	a		{ display:inline-block; width:42px; height:42px; margin:0 30px; text-decoration:none;}	
	.sn	a.face	{ background:url(../images/face.png) no-repeat 0 0;}	
	.sn	a.tw	{ background:url(../images/tw.png) no-repeat 0 0;}	
	.sn	a.vk	{ background:url(../images/vk.png) no-repeat 0 0;}	
	
	.form		{ overflow:hidden; width:354px;}
	
	.form .input.imggg {/*width:300px;*/ padding-left:170px;}
	.form .input.photoedit { padding-right:80px;}
	.form .input,
	.form .radio		{ margin-bottom:17px; /*overflow:hidden;*/}
	.form .error		{ font-size:11px; position:relative; margin-bottom:30px; color:#dc2a2a; }
	.form p.p_inf		{ font-size:11px; padding-bottom:5px; color:#7f7f7f; width:390px;}
	
	.form .input label,
	.form .radio label		{ display:block; font-size:12px; font-weight:bold; margin-bottom:4px;}
	.form .input p		{  font-size:12px; font-weight:bold; margin-bottom:4px; margin-right:80px;}
	.edit_blog .radio label		{ display:block; font-size:12px; font-weight:bold; margin-bottom:4px;}
	.form .radio div input	{ float:left; margin-right:5px !important;}
	.edit_blog {padding:0px 0px 14px 0px;} 
	
	.edit_blog .input label,
	.edit_blog .radio label		{ display:block; font-size:12px; font-weight:bold; margin-bottom:4px;}
	.edit_blog .radio div input	{ float:left; margin-right:5px !important;}
	
	.form .radio div label	{ font-weight: normal; margin-bottom:0px; float:left; margin-right:20px;}
	.form .input.date				{ float:left; overflow:hidden; width:212px; clear:none;}
	.form .input.dates				{ float:left; overflow:hidden; width:300px; clear:none;}
	.form .input.date label			{ overflow:hidden;}
	.form .input.date input			{ float:left;width:10px;}
	.form .input.date select		{ float:left; margin-right:1px; padding:4px 4px 4px 0px;}
	.form .input input		{ padding:4px; border:1px solid #e5e5e5; background:#fff; width:344px;}
	.form .input .gif input		{ padding:4px; border:1px solid #e5e5e5; background:#fff; width:190px;}
	.edit_blog .input input		{ padding:4px; border:1px solid #e5e5e5; background:#fff; width:344px;}
	.form .input textarea	{ padding:4px; border:1px solid #e5e5e5; background:#fff; width:344px; height:95px;}
	.form .input select		{ padding:4px; border:1px solid #e5e5e5; background:#fff; width:354px;}
	.form .inputlog input		{ padding:4px;margin-bottom:20px; border:1px solid #e5e5e5; background:#fff; width:194px;}
	.form .input label a		{ display:inline-block; font-weight:normal;  display:block; font-size:12px; font-weight:bold; margin-bottom:4px;}
	.form .check		{ clear:both; margin-bottom:25px;}
	.form .check.rem	{ clear:both; margin-bottom:25px;margin-top:-5px; }
	.form .check label	{ display:block; font-size:11px; width:162px; color:#7f7f7f; overflow:hidden;}
	.form .check input	{ float:left;}
	.form .check span	{ display:inline-block;}
	.form .radio		{ clear:both; margin-bottom:15px;}
	.form .radio label	{ display:block; overflow:hidden;}
	.form .radio input	{ float:left; margin-right:9px !important;}
	.form .radio span	{ display:inline-block;}
	.form .radio small	{ display:inline-block; font-size:11px; font-weight:normal; color:#7f7f7f;}
	.form .input.code div		{ overflow:hidden;}
	.form .input.code img		{ float:left; border:1px solid #e5e5e5; margin-right:1px;}
	.form .input.code a.f5		{ float:left; border:1px solid #e5e5e5; margin-right:20px; background:url(../images/f5.gif) no-repeat 0 0; text-decoration:none; display:block; width:38px; height:38px;}
	.form .input.code input		{ width:132px; font-size:25px;}
	
	.form .file		 	{width:228px; overflow:hidden; float:right; z-index:1;cursor:pointer;}	
	.form .file .fakeupload {width:228px; height:25px; overflow:hidden; position: relative; z-index:1;cursor:pointer; background:url(../images/file1.png) no-repeat 0 0;}	
	.form .file .fakeupload input.realupload2 { opacity:0; filter:alpha(opacity:0); position:relative; z-index:1; font-size:199px;cursor:pointer;padding:0px;margin:0px;border:none;margin-left:0px;}	
	.form .file .fakeupload input.inpupload 	{ cursor:pointer; position:absolute; top:0; left:0; z-index:0; width:124px;}	
	.form .file p		 	{ font-size:11px; color:#7f7f7f; padding-top:4px; padding-bottom:0;}	

	.form .file_v		 	{width:390px; overflow:hidden; z-index:1;cursor:pointer;}	
	.form .file_v .fakeupload {width:390px; height:25px; overflow:hidden; position: relative; z-index:1;cursor:pointer; background:url(../images/file1.jpg) no-repeat 0 0;}	
	.form .file_v .fakeupload input.realupload2 { opacity:0; filter:alpha(opacity:0); position:relative; z-index:1; font-size:199px;cursor:pointer;padding:0px;margin:0px;border:none;margin-left:0px;}	
	.form .file_v .fakeupload input.inpupload 	{ cursor:pointer; position:absolute; top:0; left:0; z-index:0; width:285px;}	
	.form .file_v p		 	{ font-size:11px; color:#7f7f7f; padding-top:4px; padding-bottom:0;}	

	.form.edit		{ overflow:hidden; margin-bottom:25px; width:auto;}
	.form.edit .input .input_price input{ width:300px;}
	.form.edit .input .input_price select{ width:80px;}
	.form.edit .input input,
	.form.edit .input textarea	{ width:380px;}
	.form.edit .input input[type=checkbox]	{ width:17px; float:left;}
	.form.edit .input select	{ width:390px;}
	.form.edit .input p			{ font-size:11px; color:#7f7f7f; padding-top:4px; padding-bottom:0;}
	.form.edit .button			{ padding-top:24px; text-align:center; clear:both;}
	
	
	.form.add_w					{ overflow:hidden; padding-bottom:20px; width:auto;}
	.form.add_w .input input,
	.form.add_w .input textarea	{ width:390px; color:#7f7f7f;}
	.form.add_w .input table input	{ width:182px; margin-right:16px;}
	.form.add_w .button			{ padding-top:5px; text-align:center; clear:both;}

	.form.add_com					{ width: auto; padding-bottom:20px;}
	.form.add_com .input textarea	{width: 100%; margin-bottom:5px;}
	
	.form.seach					{ overflow:hidden; padding-bottom:20px; width:auto; border-right:1px solid #9E9E9E;}
	.form.seach .input input,
	.form.seach .input textarea	{ width:170px; color:#7f7f7f; margin-bottom:10px;}
	.form.seach .input select		{ width:180px;margin-bottom:10px;}
	.form.seach .input .date select	{ width:85px;margin-bottom:10px;}
	.form.seach .input .date input	{ width:75px;margin-bottom:10px;}
	.form.seach .input table input	{ width:180px;}
	.form.seach .button			{ padding-top:5px; text-align:center; clear:both;}

	
	
	.form.auth .login		{ padding-left:70px;   }
	.form.auth .login .button1				{ margin-bottom:18px; margin-left:35px; float:left; margin-right:20px;display:inline-block;}
	.form.auth .login .button1 span.c input{ padding:10px 56px 0px 56px;}
	.form.auth  .button1				{ margin-bottom:18px; margin-left:45px; float:left; margin-right:20px;}
	.form.auth  .button1 span.c input{ padding:10px 56px 0px 56px;}
	.form .inputlog label  {  font-size:12px; font-weight:bold; margin-bottom:4px;}
	.form .inputlog a  {  font-size:11px; font-weight:bold; margin-bottom:4px;margin-right:80px;float:right;}
	.form.auth		               { padding-left:60px; padding-top:30px; padding-bottom:20px;}
	.form.auth .reg					{ display:inline-block; }
	
	.crumb			{ margin-bottom:15px; overflow:hidden; position:relative; margin-top:-11px; border-bottom:1px solid #999999; padding-bottom:10px;}
	.crumb.seach	{ margin-bottom:15px; overflow:hidden; position:relative; margin-top:-11px; padding-bottom:10px;border-bottom:0}
	.crumb span,
	.crumb a		{ font:11px arial; color:#8d8d8d; text-decoration:none; padding-right:17px; display:inline-block; margin-right:5px;}
	.crumb a		{ background:url(../images/n3.gif) no-repeat 100% 5px;}
	.crumb a:hover	{ text-decoration: underline;}
	
	.pager			{ padding:20px 0 10px 0; overflow:hidden; text-align:center; margin-bottom:0px;}
	.pager a		{ display:inline-block; background:#fff; border:1px solid #dadada; margin:0 1px; width:20px; font:12px arial; line-height:17px; text-decoration:none;}
	.pager a.active		{ background:#fff; font-weight:bold; color:#000;}
	.pager a.prev,
	.pager a.next	{ height:19px; width:auto; text-decoration: underline; padding:0; padding:0; border:0;}
	.pager a.prev	{ background: url(../images/pl.gif) no-repeat 0 50%; margin-right:20px; padding-left:18px;}
	.pager a.next	{ background: url(../images/pr.gif) no-repeat 100% 50%; margin-left:20px; padding-right:18px;}
	.pager a.prev_prev,
	.pager a.next_next	{ width:10px; height:19px; text-decoration:none; padding:0; padding:0; border:0}
	.pager a.prev_prev	{ background: url(../images/ll.png) no-repeat 0 50%; margin-right:10px;}
	.pager a.next_next	{ background: url(../images/rr.png) no-repeat 0 50%; margin-left:10px;}
	
	.pager_c			{ padding:5px 0 0 0; float:right; overflow:hidden; margin-bottom:0px;}
	.pager_c span		{ display:inline-block; margin:0 5px; font:11px arial; color:#8d8d8d; line-height:17px; text-decoration:none; float:left;}
	.pager_c a.prev,
	.pager_c a.next	{ width:4px; height:17px; text-decoration:none; padding:0; padding:0; border:0; display:inline-block; float:left;}
	.pager_c a.prev	{ background: url(../images/pl.png) no-repeat 0 6px;}
	.pager_c a.next	{ background: url(../images/pr.png) no-repeat 0 6px;}
	
#footer	{ overflow:hidden; background:url(../images/fbg.jpg) repeat-x 0 100%;height:266px;}
#footer .foot_l	{ height:266px; background:url(../images/fl.jpg) no-repeat 0 0;}
#footer .foot_r	{ height:266px; background:url(../images/fr.jpg) no-repeat 100% 0;}
	#footer .dis		{ float:right; padding:207px 43px 0 0; font:11px arial; color:#c3ffc9; text-shadow:-1px -1px #277e34;}
	#footer .dis a		{ color:#c3ffc9; text-decoration:none;}
	#footer .copy		{ padding:240px 0 0 0px; text-align:center; font:11px arial; color:#9bf4fb; text-shadow:-1px -1px #078c9d;}
	#footer .copy a		{ color:#959595;}
	
	.comments.wall		{ border:0;}
	.napisat_so		{ border-bottom:1px solid #9E9E9E; margin-bottom:15px;}
	.my_page_info	{ border-bottom:1px solid #9E9E9E; margin-bottom:15px;padding:15px 0 15px 0px;}
	.my_page_info p			{ padding-bottom:13px;}
	.my_page_info p span	{ display:inline-block; width:165px; color:#a1a1a1;}
	
a.word,
a.pdf,
a.mp,
a.exel		{ display:inline-block; padding-left:35px; font: italic 11px "Arial", Helvetica, sans-serif; color:#7a7a7a; line-height:27px; text-decoration:none;}
a.word		{ background:url(../images/w.gif) no-repeat 0 0;}
a.pdf		{ background:url(../images/pdf.gif) no-repeat 0 0;}
a.exel		{ background:url(../images/exel.gif) no-repeat 0 0;}


#popup {
	position: absolute;
	background: #000;
	opacity: 0.60;
	filter:alpha(opacity=60);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	display: none;
}

.window		{ position:absolute; left:50%; top:100px; z-index:2001; display:none;}
.window	.close	{ position:absolute; width:25px; height:25px; background:url(../images/close.gif) no-repeat 0 0; top:27px; right:40px; cursor:pointer;}
	
#no_reg_w	{ width:500px; height:315px; background:url(../images/w1.png) no-repeat 0 0; margin-left:-250px;}
#no_reg_w .w_c	{ padding:50px 105px 0 85px;}
#no_reg_w  h1	{ margin-bottom:30px;}
#no_reg_w .button1 span.c input	{ padding:10px 36px 0px 36px;}
#no_reg_w .button1 				{ margin-left:35px; margin-top:20px;}

#add_group	{ width:495px; height:233px; background:url(../images/w3.png) no-repeat 0 0; margin-left:-247px;}
#add_group .w_c	{ padding:50px 105px 0 85px;}
#add_group  h1	{ margin-bottom:30px;}
#add_group .form .input input	{ width:230px; margin-right:10px; float:left;}
#add_group .form .input .button2 input		{ width:auto; margin:0;}

#edit_group	{ width:641px; height:579px; background:url(../images/w4.png) no-repeat 0 0; margin-left:-320px;}
#edit_group .w_c	{ padding:50px 0px 0 45px;}
#edit_group  h1		{ margin-bottom:30px; margin-left:20px;}
#edit_group  p		{ padding-bottom:10px; margin-left:20px;}

.buttons_w			{ padding:10px 0; border-bottom:1px solid #999; border-top:1px solid #999; margin-left:20px; width:512px; text-align:right; overflow:hidden;}
.buttons_w .button3			{ margin-left:10px;}

.window.rezina	{ width:464px; margin-left:-232px;}
.window.rezina	.close	{ top:25px; right:30px; cursor:pointer;}
.window.rezina .w_t		{ background:url(../images/w5t.png) no-repeat 0 0; height:97px; overflow:hidden;}
.window.rezina .w_t h1	{ margin:0; padding:47px 0 0 30px;}
.window.rezina .w_b		{ background:url(../images/w5b.png) no-repeat 0 0; height:15px; overflow:hidden;}
.window.rezina .w_c		{ padding:0px 30px 0 30px; background:#fff;}

.form.picture_gif img		{ border:1px solid #d7d7d7; padding:2px; margin-right:20px; float:left; margin-bottom:20px;}

#add_msg_w .form img		{ border:1px solid #d7d7d7; padding:2px; margin-right:20px; float:left; margin-bottom:20px;}

#add_msg_w .form.add_w			{ padding-bottom:5px;}
#add_msg_w .form .button		{ text-align:right; padding-right:8px; padding-top:3px;}

#send_gift_w .form img		{ border:1px solid #d7d7d7; padding:2px; margin-right:20px; float:left; margin-bottom:20px;}
#send_gift_w .form.add_w .input input		{ width:255px;}
#send_gift_w .form.add_w			{ padding-bottom:5px;}
#send_gift_w .form .button		{ text-align:right; padding-right:4px;}

#add_event_w select	{ margin-right:20px; width:100px;}
#add_event_w .check	{ margin-bottom:20px;}
#add_event_w .add_w	{ padding-bottom:5px;}
#add_event_w .button2	{ margin-right:10px;}

#add_meropriatie_w select	{ margin-right:20px; width:100px;}
#add_meropriatie_w .check	{ margin-bottom:20px;}
#add_meropriatie_w .add_w	{ padding-bottom:5px;}
#add_meropriatie_w .button2	{ margin-right:10px;}
#add_meropriatie_w .link_mer{ margin-bottom:20px; color:#2a86dc; font-weight:bold;}
#add_meropriatie_w .link_mer a	{ text-decoration:none; border-bottom:1px dashed #2a86dc; line-height:110%; display:inline-block;}

#print_tree_w			{ display:block;}
#print_tree_w			{ width:741px; margin-left:-370px;}
#print_tree_w .w_t		{ background:url(../images/w6t.png) no-repeat 0 0; height:7px; overflow:hidden;}
#print_tree_w .w_m		{ background:url(../images/w6bg.png) no-repeat 0 0; height:auto; width:auto;}
#print_tree_w .w_c h1	{ padding:10px 0 0 0px;}
#print_tree_w .w_b		{ background:url(../images/w6b.png) no-repeat 0 0; height:14px; overflow:hidden;}
#print_tree_w .w_c		{ padding:0px 35px 0 35px; background: url(../images/w6bg.png) repeat-y 0 0;}
#print_tree_w .r_link	{ margin-top:-13px;}
#print_tree_w .form.add_w .radio label	{ margin-bottom:5px;}
#print_tree_w .form.add_w .radio span	{ font-weight:normal; margin-right:20px; margin-bottom:4px;}
#print_tree_w .radio select	{ margin-right:20px; width:100px; padding:4px; border:1px solid #e5e5e5; background:#fff; margin-top:-5px;}
#print_tree_w .form.add_w .button2		{ float:left;}
#print_tree_w .form.add_w .reset		{ color:#2a86dc; font:11px arial; border:0; padding:0; margin:5px 0 0 20px; background:none; border-bottom:1px dashed #2a86dc;}

.my_page_info { border-bottom: 1px solid #9E9E9E; margin-bottom: 15px;padding: 15px 0px 15px 0px;}
.my_page_info p {padding-bottom: 13px;}
.my_page_info p span {  color: #A1A1A1; display: inline-block; width: 165px;}
.my_page_img {   float: left;   padding: 15px 0px 25px 0px; min-height:100px;   width: 300px;}
.my_page_img img {   background: none repeat scroll 0 0 #FFFFFF;  border: 1px solid #D7D7D7;   padding: 2px;}
.my_page_inf {    border-bottom: 1px solid #9E9E9E;    margin-bottom: 15px;    overflow: hidden;}
.my_page_inf .my_page_info {    border-bottom: 0 none;    margin-bottom: 0;}

	.profil_mn	{ float:right; position:relative;}
	.profil_mn a.p_link	{ color:#2a86dc; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; display:inline-block; margin-right:20px; position:relative; z-index:11; padding-right:9px; background: url(../images/nn.gif) no-repeat 100% -58px; padding-top:5px; text-decoration:none;}
	.profil_mn a.p_link.active	{ background-position:100% 13px;}
	.profil_mn a.p_link span	{ display:inline-block; border-bottom:1px dashed #2a86dc; line-height:110%;}
	.profil_mn .p_mn			{ display:none; position:absolute; width:149px; z-index:10; left:-40px; top:-18px;}
	.profil_mn .p_mn .p_mn_t	{ background:url(../images/u_t.png) no-repeat 0 0; height:16px; overflow:hidden; font-size:0;}
	.profil_mn .p_mn .p_mn_c	{ background:url(../images/u_bg.png) repeat-y 0 0; overflow:hidden;}
	.profil_mn .p_mn .p_mn_b	{ background:url(../images/u_b.jpg) no-repeat 0 100%; overflow:hidden; padding:35px 8px 19px 8px;}
	.profil_mn .p_mn a			{ display:block; padding-left:32px; font:12px arial; color:#000; text-decoration:none; line-height:25px;}
	.profil_mn .p_mn a.active,
	.profil_mn .p_mn a:hover	{ background:#e2d6d5;}



.d_content		{ width:670px; margin:0 auto; padding-top:20px;}
	.d_content .crumb			{  border-bottom:1px solid #000;}
	.d_content .crumb a		{ background:url(../images/pr.png) no-repeat 100% 5px;}
	.death_page #content		{ background: url(../images/bgblack.gif);}
	.b_bg { position: absolute;	background: #000;opacity: 0.60;	filter:alpha(opacity=60);top: 0;left: 0;width: 100%;height: 100%;z-index: 2000;}
	.d_content h1,
	.d_content .comments li .inf,
	.d_content .comments li .inf p,
	.d_content .comments li .inf a.name,
	.d_content h2		{ color:#fff;}
	.d_content a		{ color:#777777;}
	.d_content a		{ color:#777777;}

	.d_content .comments li .comment_text		{ border-top:1px solid #9e9e9e;}

	.d_content .pager a		{ color:#777; background:#222222; border:1px solid #383837; width:20px; font:12px arial; line-height:19px; text-decoration:none;}
	.d_content .pager a.active		{ background:#656565; font-weight:bold; color:#000;}
	.d_content .pager a.prev,
	.d_content .pager a.next	{ height:21px; width:auto; text-decoration: underline; padding:0; padding:0; border:0;}
	.d_content .pager a.prev	{ background: url(../images/pl.png) no-repeat 0 50%; margin-right:20px; padding-left:18px;}
	.d_content .pager a.next	{ background: url(../images/pr.png) no-repeat 100% 50%; margin-left:20px; padding-right:18px;}
	
	.d_inf	{ padding-bottom:8px; border-bottom:1px solid #9e9e9e; position:relative; margin-bottom:15px;}
	.d_inf .img	{ float:left;}
	.d_inf .golosa	{ position:absolute; bottom:30px; right:0; overflow:hidden;}
	.d_inf .golosa .button3				{ float:left; margin-right:10px;}
	.d_inf .golosa .button3 .c input	{ padding:3px 30px 0 30px;}
	.d_inf .golosa label	{ color:#fff; line-height:25px; display:inline-block;}
	.d_inf .golosa label a	{ color:#fff; display:inline-block; line-height:110%; text-decoration:none; border-bottom:1px dashed #fff;}
	.d_inf .golosa label a:hover	{ border:0;}
	.d_inf .img img	{ border:2px solid #403f3f;}
	.d_inf .sv	{ position:absolute; right:30px; bottom:30px; background:url(../images/sv.png) no-repeat 0 0; width:321px; height:332px;}
	.d_inf .img p	{ padding:5px 0 0 0; font-size:11px; text-align:center;}
	.d_inf .img p a	{ text-decoration:none; display:inline-block; line-height:110%; border-bottom:1px dashed #464645; color:#777;}
	.d_inf .img p a:hover	{ border-bottom:0; padding-bottom:1px;}
	.d_inf .g_inf_text		{ overflow:hidden; color:#fff;}
	.d_inf .g_inf_text p	{ text-align:center; color:#fff;}
	.d_inf .g_inf_text p span		{ color:#b3b3b3;}

#svecha_list	{ width:530px; background:#fff; border:2px solid #fff; margin-left:-265px;}
#svecha_list .close	{ position:absolute; width:10px; height:10x; background:url(../images/b_close.png) no-repeat 0 0; top:11px; right:11px; cursor:pointer;}
#svecha_list h1	{ background:#707171; margin-bottom:0; color:#fff; font-weight:normal; line-height:32px; text-align:center; text-transform: inherit;}
#svecha_list .w_c	{ padding:15px 0px 0 0px;}
#svecha_list .friend_list_w	{ height:auto;}
#svecha_list .pager	{ padding-top:0;}

.death_page #footer	{ overflow:hidden; background:url(../images/bfbg.jpg) repeat-x 0 100%;}
.death_page #footer .foot_l	{ height:266px; background:url(../images/bfl.jpg) no-repeat 0 100%;}
.death_page #footer .foot_r	{ height:266px; background:url(../images/bfr.jpg) no-repeat 100% 100%;}
.death_page #footer .dis,
.death_page #footer .dis a,
.death_page #footer .copy,
.death_page #footer .copy a		{ color:#777777; text-shadow: none;}
.last {border-top:1px solid #1c1d1d; margin-top:5px; padding-top:5px;}
.edit_group {display:none;}
.form1 {vertical-align:top;font-size: 12px;font-weight: bold;margin-bottom: 4px; padding:16px 20px 0px 0px;}
.form2 {vertical-align:top;margin-bottom: 4px; padding:16px 20px 0px 0px;}
.form2 td {padding:1px 0px;vertical-align:top;}
.change_pass {width:500px;}
.change_pass  .form1 {width:240px; padding-left:100px; text-align:right;}
